html {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.separator {
    border-style: solid;
    border-top: 2px;
    border-color: #7b458f;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #7b458f;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #7b458f;
    border-radius: 25px;
    padding: 10px 24px;
    display: inline-block;
}

.nav-link:hover {
    background-color: #7b458f;
    color: white;
}
