/* Background Colour */
html {
    background-color: #232323
}

/* page base */
body { 
     margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}

.top-banner { background: #412644; color: #ffffff; font-size: 0.9rem; padding: 8px 12px; }

/* site header */
header.site-header {background: #232323; display: flex; justify-content: space-between; align-items: center;}
.header-left {display: flex; align-items: center; gap: 0px;}
.header-logo {width: 100px;height: 100px;object-fit: cover;}

/* navigation styles */
header.site-header nav ul {list-style: none;padding: 12px;margin: 0;display: flex;gap: 50px;}
header.site-header nav a { color: #ffffff; text-decoration: none; }

/* Footer styles */
footer { background: #232323; color: #ffffff; text-align: center; padding: 8px; margin-top: 10px; }
footer p { margin: 4px 0; }